USE [BhavyaDiamonds]
GO
/****** Object:  Table [dbo].[ProductReg]    Script Date: 06/23/2016 23:30:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ProductReg](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[PName] [varchar](max) NULL,
	[PDesc] [varchar](max) NULL,
	[PCategoryID] [varchar](max) NULL,
	[PProdID]  AS ('Prod'+CONVERT([varchar](10),[ID],(0))),
	[Date]  AS (dateadd(minute,(330),getutcdate())),
	[PPIC] [varchar](max) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[ProductReg] ON
INSERT [dbo].[ProductReg] ([ID], [PName], [PDesc], [PCategoryID], [PPIC]) VALUES (1, N'FIRST', N'FDFD', N'Cat1', N'~/Uploads/ne.jpg')
INSERT [dbo].[ProductReg] ([ID], [PName], [PDesc], [PCategoryID], [PPIC]) VALUES (2, N'FGF', N'JGFHDG', N'Cat8', N'unnamed (3).jpg')
INSERT [dbo].[ProductReg] ([ID], [PName], [PDesc], [PCategoryID], [PPIC]) VALUES (3, N'FIRST', N'FDFD', N'Cat7', N'~/Uploads/ne.jpg')
SET IDENTITY_INSERT [dbo].[ProductReg] OFF
/****** Object:  Table [dbo].[Login]    Script Date: 06/23/2016 23:30:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Login](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](max) NULL,
	[UserName] [varchar](max) NULL,
	[Password] [varchar](max) NULL,
	[UpdateColumn] [varchar](max) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Login] ON
INSERT [dbo].[Login] ([ID], [Name], [UserName], [Password], [UpdateColumn]) VALUES (1, N'madhvi', N'madhvi', N'm', NULL)
INSERT [dbo].[Login] ([ID], [Name], [UserName], [Password], [UpdateColumn]) VALUES (2, N'check', N'c', N'c', NULL)
INSERT [dbo].[Login] ([ID], [Name], [UserName], [Password], [UpdateColumn]) VALUES (8, N'dsw', N'890', N'tet', NULL)
SET IDENTITY_INSERT [dbo].[Login] OFF
/****** Object:  Table [dbo].[Category]    Script Date: 06/23/2016 23:30:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Category](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Category] [varchar](800) NULL,
	[Description] [varchar](max) NULL,
	[CatID]  AS ('Cat'+CONVERT([varchar](10),[ID],(0))),
	[Date]  AS (dateadd(minute,(330),getutcdate())),
	[UpdateColumn] [varchar](max) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Category] ON
INSERT [dbo].[Category] ([ID], [Category], [Description], [UpdateColumn]) VALUES (2, N'earning', N'lkjlhgf', NULL)
INSERT [dbo].[Category] ([ID], [Category], [Description], [UpdateColumn]) VALUES (3, N'diamond necklace', N'uitur', NULL)
INSERT [dbo].[Category] ([ID], [Category], [Description], [UpdateColumn]) VALUES (4, N'anklets', N'uitur', NULL)
SET IDENTITY_INSERT [dbo].[Category] OFF
